/* Import and use the Inter font https://rsms.me/inter/ */
@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}


.bin rect {
    fill: skyblue;
    /*height: 100px;*/
    transition: height 1s ease-out,
        y 1s ease-out;
}

.bin text {
    text-anchor: middle;
    fill: darkgrey;
    font-size: 12px;
    font-family: monospace;
    /*y: 100px;*/
    transition: all 1s ease-out;
}

.bin:hover rect {
    fill: cornflowerblue;
}

.mean {
    stroke: maroon;
    stroke-dasharray: 2px 4px;
    transition: all 1s ease-out;


}


.x-axis-label {
    fill: black;
    font-size: 1.4em;
    text-transform: capitalize;
    font-family: monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

svg {
    fill: #34495e;
}


button {
    font-size: 1.2em;
    font-family: monospace;
    margin-left: 1em;
    padding: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    background: darkseagreen;
    color: white;
    border: none;
    box-shadow: 0 5px 0 0 seagreen;
    border-radius: 6px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover,
button:focus {
    background: #73b173;
    box-shadow: 0 4px 0 0 seagreen;
    transform: translateY(1px);
}

button:hover:active,
button:focus:active,
button:active {
    box-shadow: 0 1px 0 0 seagreen;
    transform: translateY(4px);
}

.wrapper {
    position: relative;
    padding: 50px;
    margin-top: 100px;
}
.tooltip {
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
    font-family: monospace;
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-range {
    margin-bottom: 0.2em;
    font-weight: 600;
    font-family: monospace;
}